<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User baru</title>

</head>
<body>
	<form id="datanewsprdc" action="#" th:object="${prdcModelDepan}" method="post">

			<table>
				<tr>
					<td class="c1">Product Nama:</td>
					<td class="c2" ><input class="i1" type="text" name="nama"/></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Product Brand:</td>
					<td class="c2"><input class="i1" type="text" name="brand" /></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Product MadeIn:</td>
					<td class="c2"><input class="i1" type="text" name="madein" /></td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				
				<tr>
					<td class="c1">Product Price:</td>
					<td class="c2"><input class="i1" type="text" name="price" /></td>
				</tr>
				
				<tr>
					<td>&nbsp; </td>
					<td>&nbsp; </td>
				</tr>
				<tr>
					<td class="c1">Supplier:</td>
					<td class="c2">
						<select name="idsupplier" >
							
							<option th:each="splr : ${listSupplier}" th:value="${splr.idsupplier}" th:text="${splr.nama}" />
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" id="form-splr-add" class="btn btn-success">Save</button> </td>
					
				</tr>
			</table>
		</form>
</body>
	<script>
	$('#datanewsprdc').submit(function() {
		
		formData = $('#datanewsprdc').serialize();//melakukan serialisasi objek datanewdisplay
		$.ajax({
			url : '/saveprdc',
			type : 'POST',
			data : formData,
			success : function(result) {
				loadprdclist();
			}
		});
		return false;
	});
	</script>
</html>