<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Master product</title>

</head>
<body>
	<button type="button" class="btn btn-warning" id="btn-refresh" onclick="loadprdclist();">Reload data</button>
	
	<table id="prdclist" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Nama</th>
				<th>Product Brand</th>
				<th>Product MadeIn</th>
				<th>Product Price</th>
				<th>Product Supplier</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prdc : ${prdclist}">
				<td th:text="${prdc.idproduct}">Product ID</td>
				<td th:text="${prdc.nama}">Name</td>
				<td th:text="${prdc.brand}">brnad</td>
				<td th:text="${prdc.madein}">madein</td>
				<td th:text="${prdc.price}">price</td>
				<td th:text="${prdc.splr.nama}">price</td>
				<td>
				<button type="button" class="btn btn-warning" id="btn-edit"
						th:href="@{'/prdcedit/' + ${prdc.idproduct}}"
						onclick="EditFunction(this);">Edit</button>
						
				<button type="button" class="btn btn-danger" id="btn-delete"
						th:href="@{'/prdcdelfrm/' + ${prdc.idproduct}}"
						onclick="EditFunction(this);">Delete</button>
			</tr>
	</table>
	
</body>
	<script>
	function EditFunction(d) {
		var x = d.getAttribute("href");
		$.ajax({
			url : x,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$( "#boxcari" ).hide();
				$('#prdclist').html(result);
			}
		});
	} 	
	
	
	</script>

</html>