<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 1
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
					</ul>
				</li>
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 2
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
					</ul>
				</li>
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 3
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-bell"></span> &nbsp; Account
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header" th:text="'User Login : '+${user}">Nama Akusn</li>
						<li class=""><a href="#">Ubah Kata Sandi</a></li>
						<li class="divider"></li>
						<li><form th:action="@{/invalidate}">
							<input type="submit" value="Logout" />
						</form></li>
					</ul>
				</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	  		<div class="container">
		  		<div class="navbar-header">
		  			<a class="navbar-brand" href="#">
						<img 
	             src="/img/xsis.png">
					</a>
				</div>
			</div>
		</nav>

	<div class="container ">
	 <div class="row"> 
	 
		<div class="col-md-2 sidebar">
			<ul class="list-group">
				<li><a href="/" class="list-group-item">Beranda</a></li>		
				<li><a href="/users" class="list-group-item">MasterData Users</a></li>		
				<li><a href="/supplier" class="list-group-item">MasterData Supplier</a></li>	
				<li><a href="/product" class="list-group-item">MasterData Product</a></li>		
			</ul>
		</div>
			<div class="col-md-10">
                
                <div id="fragment"></div>
                
            </div> 
            
		<footer>
			<p class="col-md-12" align="center">
				Copyright &copy; 2019 Batch 207 XSIS Mitra Utama
			</p>
		</footer>
		</div>
	</div>
</body>
<script src="../bootstrap/dist/js/jquery.min.js"></script>
<script src="../js/jquery-ui.js" ></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootbox/bootbox.min.js"></script>
<script src="../js/jquery.dataTables.min.js" ></script>
<link href="../css/jquery.dataTables.min.css" rel="stylesheet">
<script>

	
	$('.list-group-item').click(function(){
		var url=$(this).attr('href');
		
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				if(url=="/"){
					window.location='/';	
				}else{
				$('#fragment').html(result);
				}
				}
		});
		return false;
	});
	
</script>
</html>
