@charset "ISO-8859-1";
table{
	width: 100%;
}

.c1{
		width:15%;
}

.c2{
	width:70%;
}

.i1{
	width:100%;
}

/* Untuk nomer fiktif */
#tb1 { 
    counter-reset: rowNumber;
}

#tb1 #tr1 {
    counter-increment: rowNumber;
}

#tb1 #tr1 #td1:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}