<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Master Users</title>

</head>
<body>
	<button type="button" class="btn btn-warning" id="btn-refresh" onclick="loaduserlist();">Reload data</button>
	<table id="userlist" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>No</th> 
				<th>Users ID</th>
				<th>Name</th>
				<th>Alamat</th>
				<th>Umur</th>
				<th>Gender</th>
				<th>Sandi</th>
				<th>CreateBy</th>
				<th>CreateDate</th>
				<th>ModifBy</th>
				<th>ModifDate</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="tb1">
			<tr id="tr1" th:each="user : ${userlist}">
				<td id="td1"></td> 
				<td th:text="${user.idusers}">Product ID</td>
				<td th:text="${user.nama}">Name</td>
				<td th:text="${user.alamat}">alamat</td>
				<td th:text="${user.umur}">alamat</td>
				<td th:text="${user.gender==true?'Pria':'Wanita'}">alamat</td>
				<td th:text="${user.sandi}">sandi</td>
				<td th:text="${user.createby}">sandi</td>
				<td th:text="${#dates.format(user.createdate, 'dd-MMM-yyyy')}">sandi</td>
				<td th:text="${user.modifby}">sandi</td>
				<td th:text="${#dates.format(user.modifdate, 'dd-MMM-yyyy')}">sandi</td>
				<td>
				<button type="button" class="btn btn-warning" id="btn-edit"
						th:href="@{'/useredit/' + ${user.idusers}}"
						onclick="EditFunction(this);">Edit</button>
						
				<button type="button" class="btn btn-danger" id="btn-delete"
						th:href="@{'/usersdelfrm/' + ${user.idusers}}"
						onclick="EditFunction(this);">Delete</button>
			</tr>
	</table>
	
</body>
	<script>
	function EditFunction(d) {
		var x = d.getAttribute("href");
		$.ajax({
			url : x,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#usersModal").modal()
				$('#nonuserlist').html(result);
			}
		});
	} 	
	

	
	</script>

</html>